@import "mixins";
body {
  font-family: Nunito, serif;
}

.headline {
  text-align: center;
  color:$headline1;
  font-weight: bold;
  font-size: 2.8em;
}

.headline2 {
  @extend .headline;
  font-size: 2em;
}

.headline3 {
  @extend .headline2;
  font-size: 1.5em;
  color: $headline3;
}

.svg {
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 5%
}

.coloredBox {
  //$color, $size, $style, $background, $radius
  @include border($box1, 0.25em, solid, aliceblue, 0.3em);
  @include boxSpacing(1em, 100%);

}

.coloredBox2 {
  @extend .coloredBox;
  border-style: dashed;
}

.coloredBox3 {
  @extend .coloredBox;
  background-color: lightblue;
  @include boxSpacing(1em, 75%);
}

th{
  background-color: lightsteelblue;
  @include boxSpacing(.5em, auto);
}

.uselessClass {
    background-color: $headline3;
    font-size: 4em;
}