@import "mixins";
body {
  font-family: Nunito, serif;
}

.headline {
  color:$headline1;
  font-weight: bold;
  size: 5em;
}

.headline2 {
  @extend .headline;
  size: 4em;
}

.svg {
  width: 20%;
  height: auto;
}

.flex {
  display: flex;
  justify-content: center;
}

.coloredBox {
  //$color, $size, $style, $background, $radius
  @include border($box1, 0.25em, solid, aliceblue, 0.3em);
  @include boxSpacing(1em, 0.5em, 2em);
  //background-color: aliceblue;
  //border: .25em solid $box1;
}

.coloredBox2 {
  @extend .coloredBox;
  border-style: dashed;
}

.uselessClass {
    background-color: $highlight;
    size: 4em;
}