@mixin border($color, $size, $style, $background, $radius) {
  border: $size $style $color;
  background-color: $background;
  border-radius: $radius;
}

@mixin boxSpacing($padding, $width) {
  padding: $padding;
  width: $width;
}