@mixin border($color, $size, $style, $background, $radius) {
  border: $size $style $color;
  background-color: $background;
  border-radius: $radius;
}

@mixin boxSpacing($padding, $marginSides, $marginTopBottom) {
  padding: $padding;
  margin: $marginTopBottom, $marginSides;
}